<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaAgendamento.Properties.Settings._3EMIAConnectionString"
            connectionString="Data Source=192.168.60.28;Initial Catalog=3EMIA;User ID=RM12897;Password=130500"
            providerName="System.Data.SqlClient" />
        <add name="SistemaAgendamento.Properties.Settings.dbAgendamentoConnectionString"
            connectionString="Data Source=BR-REBOUCAJ03;Initial Catalog=dbAgendamento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>